a,
address,
b,
big,
blockquote,
body,
center,
cite,
code,
dd,
del,
div,
dl,
dt,
em,
fieldset,
font,
form,
h1,
h2,
h3,
h4,
h5,
h6,
html,
i,
iframe,
img,
ins,
label,
legend,
li,
ol,
p,
pre,
small,
span,
strong,
u,
ul,
var {
  margin: 0;
  padding: 0; }

a {
  color: #666;
  text-decoration: none; }

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
nav,
section,
summary {
  display: block; }

hr {
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  height: 0; }

button,
html input[type=button],
input[type=submit] {
  -webkit-apperance: button;
  cursor: pointer; }

button[disabled],
html input[disabled] {
  cursor: default; }

ol,
ul {
  list-style: none; }

li {
  display: list-item;
  text-align: -webkit-match-parent; }

img {
  border: 0;
  vertical-align: middle; }

em,
i,
u {
  font-style: normal; }

.fl {
  float: left; }

.fr {
  float: right; }

.al {
  text-align: left; }

.ac {
  text-align: center; }

.ar {
  text-align: right; }

.b {
  font-weight: 700; }

.dorpdown {
  position: relative; }

.cw-icon {
  position: relative;
  cursor: default;
  zoom: 1; }
  .cw-icon i {
    display: block;
    overflow: hidden; }

.dorpdown-layer {
  display: none;
  position: absolute; }

.hide {
  display: none; }

.clear,
.clr {
  display: block;
  overflow: hidden;
  clear: both;
  height: 0;
  line-height: 0;
  font-size: 0; }

.clearfix:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden; }

.clearfix {
  *zoom: 1; }

a {
  color: #666;
  text-decoration: none; }

a:hover {
  color: #f30213; }

.p-detail,
.p-img,
.p-market,
.p-name,
.p-price {
  overflow: hidden; }

.m,
.mb,
.mc,
.mt,
.sm,
.smb,
.smc .smt {
  overflow: hidden;
  zoom: 1; }

.img-error {
  background: url(//misc.360buyimg.com/lib/skin/e/i/error-jd.gif) no-repeat 50% 50%; }

@font-face {
  font-family: iconfont;
  src: url("//misc.360buyimg.com/jdf/1.0.0/unit/ui-base/5.0.0/font/iconfont.eot");
  src: url(//misc.360buyimg.com/jdf/1.0.0/unit/ui-base/5.0.0/font/iconfont.eot#iefix) format("embedded-opentype"), url(//misc.360buyimg.com/jdf/1.0.0/unit/ui-base/5.0.0/font/iconfont.woff) format("woff"), url(//misc.360buyimg.com/jdf/1.0.0/unit/ui-base/5.0.0/font/iconfont.ttf) format("truetype"), url(//misc.360buyimg.com/jdf/1.0.0/unit/ui-base/5.0.0/font/iconfont.svg#iconfont) format("svg"); }
.iconfont {
  font-family: iconfont;
  font-style: normal;
  -webkit-text-stroke-width: .2px;
  -moz-osx-font-smoothing: grayscale; }

.mod_container {
  font-family: Microsoft YaHei, tahoma, arial, Hiragino Sans GB, \\5b8b\4f53, sans-serif;
  background: #f6f6f6;
  overflow: hidden; }

body {
  font: 12px/150% tahoma, arial, Microsoft YaHei, Hiragino Sans GB, "\u5b8b\u4f53", sans-serif;
  -webkit-font-smoothing: antialiased;
  color: #666;
  background: #fff; }

.mod_container,
body {
  min-width: 1190px; }

.w {
  width: 900px;
  margin: 0 auto; }

.clr {
  content: "";
  display: block;
  overflow: hidden;
  clear: both;
  height: 0;
  line-height: 0;
  font-size: 0; }

.o2_mini body {
  min-width: 990px; }

.grid_c1 {
  width: 1190px;
  margin-left: auto;
  margin-right: auto; }

.o2_mini .mod_container {
  min-width: 990px; }

.o2_mini .grid_c1 {
  width: 990px; }

.o2_wide .w {
  width: 1200px; }

.o2_mini .w {
  width: 1000px; }

.o2_wide .mod_w {
  width: 1200px; }

.o2_wide #logo-2014 {
  width: 350px; }

.o2_wide #search-2014 {
  margin: 27px 80px 0; }

.mod_w {
  width: 1000px;
  margin-left: auto;
  margin-right: auto; }

.o2data-lazyload {
  background: url(//misc.360buyimg.com/mtd/pc/index/gb/images/lazyload.gif) no-repeat 50% #fff; }

.o2data-lazyload.cms_header {
  background: #f7f7f7; }

.mod_container img {
  background: url(//misc.360buyimg.com/lib/skin/e/i/error-jd.gif) no-repeat 50% 50%; }

.o2_wide #logo-2014 {
  width: 350px; }

.o2_wide #search-2014 {
  width: 540px;
  margin: 27px 80px 0; }

.o2_wide #search-2014 .text {
  width: 450px; }

.o2_wide #settleup-2014 {
  margin-right: 0; }

.o2_wide #logo-2014 .extra {
  padding-left: 11px; }

#search-2014 .button {
  width: 80px; }

.o2_wide #shelper {
  width: 538px; }

.o2_wide #hotwords {
  width: 462px;
  padding-left: 80px; }

#search-2014,
#settleup-2014 {
  margin-top: 27px; }

#cmsfooter {
  min-height: 480px; }

/*# sourceMappingURL=base.css.map */
