html, body, ul, ol, dl, li, dt, dd, p, h1, h2, h3, h4, h5, h6, form, input, form, textarea {
  margin: 0;
  padding: 0; }

body {
  -webkit-font-smoothing: antialiased;
  background-color: #fff;
  font: 12px/1.5 Microsoft YaHei;
  color: #666; }

em, i {
  font-style: normal; }

strong, b {
  font-weight: normal; }

h1, h2, h3, h4, h5, h6 {
  font-weight: 100; }

img, fieldset {
  border: 0; }

li {
  list-style: none; }

a {
  color: #666;
  text-decoration: none; }

a:hover {
  color: #e4393c !important; }

input, textarea, button {
  border: 0;
  outline: none;
  font-family: Microsoft YaHei; }

textarea {
  resize: none; }

.clearfix:after {
  content: ".";
  clear: both;
  display: block;
  height: 0;
  width: 0;
  overflow: hidden;
  visibility: hidden; }

.clearfix {
  zoom: 1; }

.login_mode {
  font-weight: 700 !important;
  color: #e4393c !important; }

.bx {
  width: 990px;
  margin: 0 auto; }

.fl {
  float: left; }

.fr {
  float: right; }

#header {
  margin-bottom: 10px; }
  #header .header > a:nth-of-type(1) {
    width: 170px;
    height: 60px;
    float: left;
    margin-top: 14px;
    background: url(../img/logo-201305-b.png) no-repeat 0 0; }
  #header .header > b {
    float: left;
    background: url(../img/l-icon.png) no-repeat 0 0;
    width: 110px;
    height: 40px;
    margin-top: 35px;
    margin-left: 20px; }
  #header .header > a:nth-of-type(2) {
    float: right;
    margin-top: 55px;
    color: #999; }
    #header .header > a:nth-of-type(2):hover {
      text-decoration: underline; }
    #header .header > a:nth-of-type(2) b {
      display: inline-block;
      width: 18px;
      height: 14px;
      margin: 0 5px;
      background: url(../img/q-icon.png) no-repeat 0 0;
      vertical-align: middle;
      overflow: hidden; }

#content .tips_wrapper {
  background: #fff8f0;
  padding-top: 10px;
  padding-bottom: 10px;
  text-align: center; }
  #content .tips_wrapper .tips_inner {
    text-align: center;
    color: #999;
    font-size: 12px; }
    #content .tips_wrapper .tips_inner i {
      background: url(../img/icon-tips.png) no-repeat 0 0;
      display: inline-block;
      width: 16px;
      height: 16px;
      vertical-align: middle;
      margin-right: 5px;
      margin-top: -2px; }
    #content .tips_wrapper .tips_inner a {
      color: #333; }
      #content .tips_wrapper .tips_inner a:hover {
        color: #333 !important;
        text-decoration: underline; }
#content .login_wrap {
  margin-top: 0;
  position: relative;
  height: 475px;
  z-index: 5;
  margin: 10px 0 20px; }
  #content .login_wrap .login_form_wrap .login_form {
    float: right;
    top: 10px;
    position: relative;
    z-index: 4;
    background: #fff;
    width: 346px; }
    #content .login_wrap .login_form_wrap .login_form .tips_wrapper {
      background: #fff8f0;
      padding-top: 10px;
      padding-bottom: 10px;
      text-align: center; }
      #content .login_wrap .login_form_wrap .login_form .tips_wrapper .tips_inner {
        text-align: center;
        color: #999;
        font-size: 12px; }
        #content .login_wrap .login_form_wrap .login_form .tips_wrapper .tips_inner i {
          background: url(../img/icon-tips.png) no-repeat 0 0;
          display: inline-block;
          width: 16px;
          height: 16px;
          vertical-align: middle;
          margin-right: 5px;
          margin-top: -2px; }
        #content .login_wrap .login_form_wrap .login_form .tips_wrapper .tips_inner a {
          color: #333; }
          #content .login_wrap .login_form_wrap .login_form .tips_wrapper .tips_inner a:hover {
            color: #333 !important;
            text-decoration: underline; }
    #content .login_wrap .login_form_wrap .login_form .login_tab_l {
      width: 173px;
      height: 54px;
      font-size: 18px;
      text-align: center;
      border-bottom: 1px solid #f4f4f4;
      position: absolute;
      background: #fff; }
      #content .login_wrap .login_form_wrap .login_form .login_tab_l a {
        width: 99%;
        position: absolute;
        left: 0;
        top: 15px;
        border-right: 1px solid #f4f4f4; }
        #content .login_wrap .login_form_wrap .login_form .login_tab_l a:hover {
          font-weight: 700; }
    #content .login_wrap .login_form_wrap .login_form .login_tab_r {
      right: 0;
      width: 173px;
      height: 54px;
      font-size: 18px;
      text-align: center;
      border-bottom: 1px solid #f4f4f4;
      position: absolute;
      background: #fff; }
      #content .login_wrap .login_form_wrap .login_form .login_tab_r a {
        width: 99%;
        position: absolute;
        left: 0;
        top: 15px;
        border-right: 1px solid #f4f4f4; }
        #content .login_wrap .login_form_wrap .login_form .login_tab_r a:hover {
          font-weight: 700; }
    #content .login_wrap .login_form_wrap .login_form .login_box {
      display: none;
      width: 306px;
      padding: 20px; }
      #content .login_wrap .login_form_wrap .login_form .login_box .error {
        min-height: 23px;
        line-height: 23px;
        margin-top: 40px;
        margin-bottom: 5px;
        position: relative;
        background: #ffebeb;
        border: 1px solid #faccc6;
        padding: 0 10px 0 40px;
        color: #e4393c;
        visibility: hidden; }
        #content .login_wrap .login_form_wrap .login_form .login_box .error b {
          position: absolute;
          top: 50%;
          left: 10px;
          margin-top: -8px;
          width: 16px;
          height: 16px;
          background: url(../img/pwd-icons-new.png) no-repeat -104px -49px; }
      #content .login_wrap .login_form_wrap .login_form .login_box .form {
        margin-top: 5px; }
        #content .login_wrap .login_form_wrap .login_form .login_box .form .fore1 {
          z-index: 6;
          width: 304px;
          height: 38px;
          border: 1px solid #bdbdbd;
          position: relative;
          margin-bottom: 20px; }
          #content .login_wrap .login_form_wrap .login_form .login_box .form .fore1 label {
            position: absolute;
            z-index: 3;
            top: 0;
            left: 0;
            width: 38px;
            height: 38px;
            border-right: 1px solid #bdbdbd;
            background: url(../img/pwd-icons-new.png) no-repeat;
            font-size: 12px; }
          #content .login_wrap .login_form_wrap .login_form .login_box .form .fore1 input {
            line-height: 18px;
            height: 18px;
            padding: 10px 0 10px 50px;
            width: 254px;
            overflow: hidden;
            font-size: 14px; }
          #content .login_wrap .login_form_wrap .login_form .login_box .form .fore1 span {
            display: none;
            position: absolute;
            z-index: 20;
            right: 6px;
            top: 12px;
            width: 14px;
            height: 14px;
            background: url(../img/pwd-icons-new.png) no-repeat -25px -143px;
            cursor: pointer; }
            #content .login_wrap .login_form_wrap .login_form .login_box .form .fore1 span:hover {
              background-position: -50px -143px; }
        #content .login_wrap .login_form_wrap .login_form .login_box .form .fore2 {
          z-index: 1;
          width: 304px;
          height: 38px;
          border: 1px solid #bdbdbd;
          position: relative;
          margin-bottom: 20px; }
          #content .login_wrap .login_form_wrap .login_form .login_box .form .fore2 label {
            position: absolute;
            z-index: 3;
            top: 0;
            left: 0;
            width: 38px;
            height: 38px;
            border-right: 1px solid #bdbdbd;
            background: url(../img/pwd-icons-new.png) no-repeat;
            font-size: 12px; }
          #content .login_wrap .login_form_wrap .login_form .login_box .form .fore2 input {
            line-height: 18px;
            height: 18px;
            padding: 10px 0 10px 50px;
            width: 254px;
            overflow: hidden;
            font-size: 14px; }
          #content .login_wrap .login_form_wrap .login_form .login_box .form .fore2 span {
            display: none;
            position: absolute;
            z-index: 20;
            right: 6px;
            top: 12px;
            width: 14px;
            height: 14px;
            background: url(../img/pwd-icons-new.png) no-repeat -25px -143px;
            cursor: pointer; }
            #content .login_wrap .login_form_wrap .login_form .login_box .form .fore2 span:hover {
              background-position: -50px -143px; }
          #content .login_wrap .login_form_wrap .login_form .login_box .form .fore2 label {
            background-position: -48px 0; }
        #content .login_wrap .login_form_wrap .login_form .login_box .form .fore3 {
          position: relative;
          z-index: 1;
          margin-bottom: 20px;
          text-align: right; }
          #content .login_wrap .login_form_wrap .login_form .login_box .form .fore3 a:hover {
            text-decoration: underline; }
        #content .login_wrap .login_form_wrap .login_form .login_box .form .fore4 {
          position: relative;
          z-index: 1;
          margin-bottom: 10px; }
          #content .login_wrap .login_form_wrap .login_form .login_box .form .fore4 a {
            border: 1px solid #e85356;
            display: block;
            height: 32px;
            text-align: center;
            line-height: 32px;
            background: #e4393c;
            font-size: 20px;
            color: #fff; }
            #content .login_wrap .login_form_wrap .login_form .login_box .form .fore4 a:hover {
              color: #fff !important; }
    #content .login_wrap .login_form_wrap .login_form .qrcode_login {
      width: 306px;
      padding: 20px 18px 20px 20px;
      text-align: center; }
      #content .login_wrap .login_form_wrap .login_form .qrcode_login .mc .qrcode_main {
        position: relative;
        height: 168px;
        margin-top: 55px; }
        #content .login_wrap .login_form_wrap .login_form .qrcode_login .mc .qrcode_main .qrcode_img {
          left: 64px;
          border: 1px solid #f4f4f4;
          padding: 8px;
          width: 155px;
          position: absolute; }
          #content .login_wrap .login_form_wrap .login_form .qrcode_login .mc .qrcode_main .qrcode_img img {
            width: 147px;
            height: 147px; }
        #content .login_wrap .login_form_wrap .login_form .qrcode_login .mc .qrcode_main .qrcode_help {
          display: none;
          position: absolute;
          right: -18px;
          top: -2px;
          width: 141px;
          height: 168px;
          background: url(../img/saoyisao.png) no-repeat 0 0;
          z-index: 99; }
      #content .login_wrap .login_form_wrap .login_form .qrcode_login .mc .qrcode_panel {
        width: 257px;
        margin: 18px auto 14px;
        text-align: center; }
        #content .login_wrap .login_form_wrap .login_form .qrcode_login .mc .qrcode_panel a {
          color: #e4393c;
          margin-right: 10px; }
          #content .login_wrap .login_form_wrap .login_form .qrcode_login .mc .qrcode_panel a:hover {
            color: #e4393c !important; }
      #content .login_wrap .login_form_wrap .login_form .qrcode_login .mc .coagent {
        background: #fff;
        color: #999;
        padding: 0;
        line-height: 25px;
        margin-left: 40px;
        overflow: hidden; }
        #content .login_wrap .login_form_wrap .login_form .qrcode_login .mc .coagent div {
          float: left;
          text-align: left;
          position: relative;
          margin-right: 18px; }
          #content .login_wrap .login_form_wrap .login_form .qrcode_login .mc .coagent div b {
            background-image: url(../img/qr-coagent.png);
            background-repeat: no-repeat;
            position: absolute;
            left: 0;
            width: 25px;
            height: 25px; }
          #content .login_wrap .login_form_wrap .login_form .qrcode_login .mc .coagent div i {
            padding-left: 32px; }
        #content .login_wrap .login_form_wrap .login_form .qrcode_login .mc .coagent .coagent_2 b {
          background-position: -27px; }
        #content .login_wrap .login_form_wrap .login_form .qrcode_login .mc .coagent .coagent_3 b {
          background-position: -54px; }
    #content .login_wrap .login_form_wrap .login_form .qq {
      overflow: hidden;
      padding-left: 20px;
      padding-right: 20px;
      line-height: 50px;
      border-top: 1px solid #f4f4f4;
      background: #fcfcfc; }
      #content .login_wrap .login_form_wrap .login_form .qq a:nth-of-type(1) {
        float: left;
        color: #666; }
        #content .login_wrap .login_form_wrap .login_form .qq a:nth-of-type(1):hover {
          text-decoration: underline; }
        #content .login_wrap .login_form_wrap .login_form .qq a:nth-of-type(1) b {
          width: 19px;
          height: 18px;
          float: left;
          left: 0;
          top: 50%;
          margin-top: 16px;
          margin-right: 6px;
          background-image: url(../img/QQ-weixin.png);
          background-repeat: no-repeat; }
        #content .login_wrap .login_form_wrap .login_form .qq a:nth-of-type(1) b {
          background-position: 0 0; }
      #content .login_wrap .login_form_wrap .login_form .qq a:nth-of-type(2) {
        float: left;
        color: #666; }
        #content .login_wrap .login_form_wrap .login_form .qq a:nth-of-type(2):hover {
          text-decoration: underline; }
        #content .login_wrap .login_form_wrap .login_form .qq a:nth-of-type(2) b {
          width: 19px;
          height: 18px;
          float: left;
          left: 0;
          top: 50%;
          margin-top: 16px;
          margin-right: 6px;
          background-image: url(../img/QQ-weixin.png);
          background-repeat: no-repeat; }
        #content .login_wrap .login_form_wrap .login_form .qq a:nth-of-type(2) b {
          background-position: -19px 0; }
      #content .login_wrap .login_form_wrap .login_form .qq span {
        color: #ccc;
        padding: 0 10px;
        float: left; }
      #content .login_wrap .login_form_wrap .login_form .qq a:nth-of-type(3) {
        float: right;
        color: #b61d1d;
        font-size: 14px; }
        #content .login_wrap .login_form_wrap .login_form .qq a:nth-of-type(3):hover {
          text-decoration: underline; }
        #content .login_wrap .login_form_wrap .login_form .qq a:nth-of-type(3) b {
          display: inline-block;
          width: 16px;
          height: 16px;
          background: url(../img/pwd-icons-new.png) no-repeat -104px -75px;
          vertical-align: middle;
          margin-right: 5px; }
  #content .login_wrap .login_banner_wrap {
    width: 100%;
    background: #e93854;
    position: absolute;
    left: 0;
    top: 0;
    height: 475px; }
    #content .login_wrap .login_banner_wrap .login_banner .banner {
      background: #e93854 url(../img/login_banner.png) no-repeat 0 0;
      position: relative;
      z-index: 3;
      height: 475px; }

#footer {
  font-size: 12px;
  text-align: center;
  color: #666;
  padding-bottom: 30px; }
  #footer .links {
    padding-bottom: 10px; }
    #footer .links a {
      margin: 0 10px; }
      #footer .links a:hover {
        text-decoration: underline;
        color: #666 !important; }

/*# sourceMappingURL=login.css.map */
