@charset "utf-8";
$wi-100:100%;
$hei-30:30px;
$bdb-1: 1px solid #ddd;
$bd-1: 1px solid #ddd;
$wi-1200:1200px;
$wid-1190:1190px;
$c-999: #999;
$c-e3e4e5:#e3e4e5;
$c-5c5452:#5c5452;
$c-f30213:#f30213;
$margin-g:0 auto;
$fz-16:16px;
$s-5p:5px;
$wi-1:1px;
$hei-12:12px;
$mt-9:9px;
$c-ccc:#ccc;
$mr-10:10px;
body,
.mod_container {
    min-height: $wid-1190;
}

//------------------标头----------------//
@mixin bg-bds {
    background: #fff;
    border: solid #ddd;
    border-width: 0 1px;
}

.root61 {
    #shortcur {
        #ttbar-navs {
            dl {
                width: 259px;
            }
            .item {
                width: 86px;
            }
        }
    }
}

#shortcur {
    width: $wi-100;
    height: $hei-30;
    line-height: $hei-30;
    background: $c-e3e4e5;
    border-bottom: solid 1px #ddd;
    a {
        color: $c-999;
        &:hover {
            color: $c-f30213;
        }
    }
    li {
        float: left;
        height: $hei-30;
        padding: 0 2px;
    }
    .w {
        background: $c-e3e4e5;
        color: $c-999;
        width: $wi-1200;
        .dorpdown:hover,
        .hover {
            .dorpdown-layer {
                display: block;
                position: absolute;
            }
        }
        #ttbar-home {
            float: left;
            height: $hei-30;
            padding: 0 2px;
            .iconfont {
                position: relative;
                display: inline;
                font-size: $fz-16;
                color: $c-5c5452;
                padding-right: $s-5p;
            }
        }
        .fr {
            #ttbar-login {
                margin-right: $mr-10;
                .link-login {
                    font-family: "verdana,simsun";
                }
                .style-red {
                    color: $c-f30213;
                }
            }
            .spacer {
                width: $wi-1;
                height: $hei-12;
                margin-top: $mt-9;
                padding: 0;
                background: $c-ccc;
                overflow: hidden;
            }
            .dt {
                float: left;
                padding: 0 8px;
            }
            .dorpdown {
                z-index: 13;
                .dt {
                    width: 49px;
                    padding-right: 25px;
                }
            }
            .cw-icon {
                .iconfont {
                    position: absolute;
                    right: 5px;
                    top: 10px;
                    width: 12px;
                    height: $hei-12;
                    line-height: $hei-12;
                }
            }
        }
    }
    .hover {
        .dorpdown-layer {
            -webkit-transition: all 0.6s cubic-bezier(0.23, 1, .32, 1);
            //          display: block;
        }
    }
    .dd {
        line-height: 24px;
    }
    .dorpdown-layer {
        top: 30px;
        background: #fff;
        border: $bd-1;
    }
    li {
        &.hover {
            padding: 0 1px;
            .dt {
                @include bg-bds;
            }
        }
        &li.dorpdown {
            z-index: 13;
        }
    }
    .dd-spacer {
        position: absolute;
        top: -7px;
        height: 10px;
        background: #fff;
        overflow: hidden;
    }
    #ttbar-atte,
    #ttbar-serv {
        .dt {
            width: 49px;
            padding-right: 25px;
        }
        .dd {
            padding-bottom: 8px;
        }
        .dd-spacer {
            left: 0;
            width: 82px;
        }
        .item {
            display: inline-block;
            width: 70px;
        }
    }
    #ttbar-serv {
        .dd {
            width: 170px;
        }
        .item-business,
        .item-client {
            font-weight: 700;
            padding-left: 10px;
            color: #666;
        }
        .item {
            padding-left: 10px;
        }
        .item-business {
            border-top: 1px solid #eee;
            padding-top: 5px;
            margin-top: 5px;
        }
    }
    .dt {
        float: left;
        padding: 0 8px;
    }
    #ttbar-navs {
        .dt {
            width: 49px;
            padding-right: 25px;
        }
        .dd {
            width: 1208px;
            right: -69px;
            padding: 20px 0 16px;
        }
        .dd-spacer {
            right: 69px;
            width: 82px;
        }
        dl.fore1 {
            width: 347px;
            border-left: none;
        }
        dl {
            float: left;
            padding-left: 20px;
            border-left: 1px solid #eee;
        }
        dt {
            font-size: 14px;
            font-weight: 700;
            margin-bottom: 6px;
            color: #666;
        }
        .item {
            float: left;
            width: 100px;
        }
        .fore2 {
            display: block;
        }
    }
    //  #ttbar-navs结束
    li {
        &#ttbar-apps {
            .dt {
                background: 0 0;
            }
        }
    }
    #ttbar-apps {
        .dorpdown-layer {
            right: 0;
        }
        .dd {
            width: 190px;
            border-bottom: 3px solid #60575a;
        }
        .dd-spacer {
            position: absolute;
            display: block;
            top: -9px;
            left: 154px;
            margin-left: -5px;
            width: 0;
            height: 0;
            line-height: 0;
            font-size: 0;
            border-width: 5px;
            border-style: solid;
            border-color: #e4e4e4 #e4e4e4 #fff;
        }
    }
}

//------------------shortcur结尾处------------//
//apps开始
.mobile_pop_item {
    position: relative;
    z-index: 5;
    padding: 15px 0;
    border-bottom: 1px solid #E7E7E7;
}

.mobile_pop_device_lk {
    background-image: url("//misc.360buyimg.com/mtd/pc/index/home/images/sprite_mobile@1x.png");
}

.mobile_pop_qrcode {
    position: absolute;
    left: 5px;
    top: 14px;
    width: 74px;
    height: 74px;
    border: 1px solid #CCC;
    background-color: #F7F7F7;
}

.mobile_pop_qrcode {
    img {
        width: 70px;
        height: 70px;
        margin: 2px 0 0 2px;
    }
}

.mobile_pop_info {
    margin: 0 10px 0 86px;
    min-height: 70px;
}

.mobile_pop_tit {
    font-size: 12px;
    line-height: 17px;
    color: #666 !important;
}

.mobile_pop_tit {
    a {
        color: #666 !important;
    }
}

.mobile_pop_value {
    margin: 3px 0;
    line-height: 14px;
    color: #F10214;
}

.mobile_pop_device {
    overflow: hidden;
    height: 25px;
}

.mobile_pop_device_lk {
    overflow: hidden;
    float: left;
    margin-right: 2px;
    width: 25px;
    height: 25px;
    text-indent: -999px;
}

.mobile_pop_device_ios {
    background-position: 0 0;
}

.mobile_pop_device_and {
    background-position: 0 -26px;
}

.mobile_pop_device_pad {
    background-position: 0 -52px;
}

@media only screen and ( -webkit-min-device-pixel-ratio:1.5),
only screen and ( min--moz-device-pixel-ratio:1.5),
only screen and ( -o-min-device-pixel-ratio:3/2),
only screen and ( min-device-pixel-ratio:1.5) {
    .mobile_pop_device_lk {
        background-image: url("//misc.360buyimg.com/mtd/pc/index/home/images/sprite_mobile@2x.png");
        background-size: 25px 77px;
    }
}

.cw-icon {
    //      float: left;
    padding: 0 8px;
    .i,
    i {
        display: block;
        position: absolute;
        overflow: hidden;
    }
}

// #ttbar-myjd 开始处
#ttbar-myjd {
    .dorpdown-layer {
        width: 280px;
    }
    .dt {
        width: 49px;
        padding-right: 25px;
    }
    .dd-spacer {
        left: 0;
        width: 82px;
    }
    .myjdlist1,
    .myjdlist2 {
        width: 265px;
        padding: 5px 0 5px 15px;
        overflow: hidden;
        .fore1,
        .fore2 {
            float: left;
            width: 126px;
        }
    }
    .myjdlist2,
    .viewlist {
        border-top: 1px solid #f1f1f1;
    }
    .viewlist {
        width: 250px;
        padding: 0 15px 10px;
        border-top: 1px solid #F1F1F1;
        padding-top: 10px;
        .smt {
            overflow: hidden;
            zoom: 1;
            h4 {
                float: left;
            }
            .extra {
                float: right;
            }
        }
        .smc {
            overflow: hidden;
            zoom: 1;
            .item {
                float: left;
                padding: 4px;
                line-height: 0;
                font-size: 0;
            }
        }
    }
    .dd-spacer {
        left: 0;
        width: 82px;
    }
    img[Attributes Style] {
        width: 50px;
        height: 50px;
    }
}

// #ttbar-myjd 结尾处
//----------------小广告第二栏--------------------//
.chaoshi_top_lk {
    display: block;
    position: relative;
}

.grid_c1 {
    width: 1190px;
    margin-left: auto;
    margin-right: auto
}

.chaoshi_top_close {
    position: absolute;
    top: 8px;
    right: 8px;
    background-image: url("//static.360buyimg.com/mtd/pc/supermarket_v3/3.0.1/v3/images/sprite_chaoshi_index.png");
    background-position: 0 0;
    background-repeat: no-repeat;
    width: 20px;
    height: 20px;
    cursor: pointer
}

#logo-2014 {
    height: 56px;
    padding: 0;
    margin-top: 26px;
    margin-bottom: 22px;
    position: relative;
    float: left;
    z-index: 12;
    margin: 26px 0 22px;
    .logo {
        position: absolute;
        left: 0;
        margin-top: 0;
        background-image: url("//static.360buyimg.com/mtd/pc/supermarket_v3/3.0.1/v3/images/sprite_chaoshi_mod_header_v2@1x.png");
        background-position: 0 0;
        background-size: 213px 82px;
        background-repeat: no-repeat;
        width: 213px;
        height: 54px;
        text-indent: -20000px;
    }
}

.logo_dropdown {
    position: absolute;
    width: 90px;
    top: 12px;
    left: 234px;
    z-index: 3;
    .dropdown_box {
        height: 24px;
        border-bottom: 2px solid #c91523;
        .dt {
            color: #fff;
            //          width: 49px;
            text-align: center;
            font-size: 0;
            line-height: 24px;
        }
        .ui-areamini-text {
            overflow: hidden;
            text-align: center;
            color: #c91523;
            font-size: 14px;
            margin-left: -5px;
        }
    }
    .cw-icon {
        i {
            right: 0;
            top: 9px;
            text-indent: -9999px;
            -webkit-transition: -webkit-transform .1s ease;
            transition: -webkit-transform .1s ease;
            -moz-transition: transform .1s ease, -moz-transform .1s ease;
            transition: transform .1s ease;
            transition: transform .1s ease, -webkit-transform .1s ease, -moz-transform .1s ease;
            background-image: url("//static.360buyimg.com/mtd/pc/supermarket_v3/3.0.1/v3/images/sprite_chaoshi_mod_header_v2@1x.png");
            background-position: -19px -56px;
            -moz-background-size: 213px 82px;
            background-size: 213px 82px;
            background-repeat: no-repeat;
            width: 11px;
            height: 7px;
        }
    }
    .hover {
        .cw-icon {
            i {
                -webkit-transform: rotate(180deg);
                -moz-transform: rotate(180deg);
                -ms-transform: rotate(180deg);
                transform: rotate(180deg)
            }
        }
    }
}

//.logo_dropdown 结束
.dropdown_locate {
    background-image: url("//static.360buyimg.com/mtd/pc/supermarket_v3/3.0.1/v3/images/sprite_chaoshi_mod_header_v2@1x.png");
    background-position: 0 -56px;
    -moz-background-size: 213px 82px;
    background-size: 213px 82px;
    background-repeat: no-repeat;
    width: 17px;
    height: 26px
}

//定位style
.dropdown_wrap {
    width: 65px;
    height: 26px;
    margin-left: 6px;
    li {
        .dorpdown-layer {
            top: 26px;
            left: -1px;
            background: #fff;
            border: 1px solid #ddd;
        }
        .dd {
            line-height: 24px;
        }
        &.hover {
            .dorpdown-layer {
                display: block;
            }
        }
    }
    .dropdown_box {
        transition: all 0.5s;
        .dd {
            width: 301px;
            padding: 10px 0 10px 10px;
        }
        .dorpdown-layer {
            .item {
                float: left;
                width: 60px;
                padding: 2px 0;
                a {
                    float: left;
                    padding: 0 8px;
                }
            }
        }
    }
}

#search-2014 {
    position: relative;
    z-index: 11;
    float: left;
}

#settleup-2014 {
    margin-left: 30px;
    float: left;
    margin-right: 0;
    z-index: 11;
    height: 36px;
}

//搜索框
.has_qrcode {
    #search-2014 {
        width: 450px;
        margin-right: 0;
        .form {
            width: 450px;
            height: 36px;
        }
        .text {
            width: 360px;
            border-color: #ffa133;
            float: left;
            height: 24px;
            line-height: 24px;
            color: #999;
            padding: 4px;
            margin-bottom: 4px;
            border-width: 2px 0 2px 2px;
            border-style: solid;
            outline: 0;
            font-size: 12px;
        }
        .button {
            width: 80px;
            background: #ffa133;
            float: left;
            height: 36px;
            font-family: tahoma, arial, Microsoft YaHei, Hiragino Sans GB, "\u5b8b\u4f53", sans-serif;
            border: none;
            border-radius: 0;
            line-height: 1;
            color: #fff;
            font-size: 16px;
            cursor: pointer;
        }
        .cw-icon {
            i {
                top: 0;
                left: 0;
                width: 82px;
                height: 36px;
            }
        }
    }
    //#search-2014 结束
    #shelper {
        width: 448px;
        overflow: hidden;
        display: none;
        visibility: hidden;
        position: absolute;
        top: 36px;
        left: 0;
        border: 1px solid #ccc;
        background: #fff;
        li {
            //          a:hover {
            //              color: #f30213;
            //          }
            overflow: hidden;
            line-height: 22px;
            padding: 1px 6px;
            cursor: pointer;
            //              background:rgb(255, 255, 255);
            background: rgb(255, 255, 255);
            &.fore1 {
                width: 100%;
                padding: 0;
                border-bottom: 1px solid #ddd;
                div {
                    overflow: hidden;
                    &.fore1 {
                        padding: 0 6px;
                    }
                    &:hover {
                        //                      background: #f5f5f5!important;
                        a: {
                            color: #f30213;
                        }
                    }
                    a {
                        float: left;
                        width: 100%;
                    }
                }
                .item1,
                .item2 {
                    float: none;
                    width: auto;
                    padding: 1px 6px 1px 20px;
                }
                .item {
                    height: 22px;
                    overflow: hidden;
                    zoom: 1;
                }
                .item {
                    float: none;
                    width: auto;
                    padding: 1px 6px 1px 20px;
                    height: 22px;
                    overflow: hidden;
                    zoom: 1;
                }
                .search-item {
                    width: 170px;
                }
            }
            &.close:hover,
            &.fore1:hover {
                background: 0 0;
            }
            &.brand-search {
                border-bottom: 1px solid #ddd;
                .info {
                    color: #e4393c;
                    margin-bottom: 2px;
                }
                .bs-item {
                    margin-bottom: 7px;
                    .logo {
                        width: 90px;
                    }
                    .logo,
                    .name {
                        display: inline-block;
                        height: 30px;
                        font-size: 14px;
                        vertical-align: middle;
                        overflow: hidden;
                    }
                    .name {
                        line-height: 30px;
                        margin-left: 5px;
                        white-space: normal;
                        text-overflow: ellipsis;
                        width: 265px;
                    }
                }
            }
        }
        .search-item {
            float: left;
            white-space: nowrap;
            text-overflow: ellipsis;
            overflow: hidden;
        }
        .search-count {
            overflow: hidden;
            color: #aaa;
            text-align: right;
            float: right;
        }
        .close {
            border-top: 1px solid #efefef;
            text-align: right;
        }
        .item3 {
            cursor: default;
            a {
                float: left;
                margin-right: 10px;
                white-space: normal;
            }
        }
    }
    //#settleup-2014开始
    #settleup-2014 {
        margin-left: 30px;
        float: left;
        .cw-icon {
            width: 91px;
            height: 34px;
            border: 1px solid #dfdfdf;
            padding: 0 28px 0 19px;
            background: #f9f9f9;
            line-height: 34px;
            a {
                color: #f30213;
            }
            .ci-left {
                top: 9px;
                left: 90px;
                width: 16px;
                height: 16px;
                background: url("//misc.360buyimg.com/jdf/1.0.0/unit/shoppingcart/5.0.0/i/settleup-@1x.png") no-repeat;
                background-size: 16px 16px;
                overflow: hidden;
            }
            .ci-right {
                display: none;
                top: 13px;
                right: 12px;
                height: 10px;
                width: 10px;
                background: url("//misc.360buyimg.com/jdf/1.0.0/unit/shoppingcart/5.0.0/i/right-@1x.png") no-repeat;
                background-size: 10px 10px;
                overflow: hidden;
            }
            .ci-count {
                position: absolute;
                top: 7px;
                left: 105px;
                display: inline-block;
                *zoom: 1;
                *display: inline;
                padding: 1px;
                font-size: 12px;
                line-height: 14px;
                letter-spacing: -1px;
                color: #fff;
                background-color: #da1026;
                border-radius: 7px;
                min-width: 14px;
                font-family: tahoma, arial;
                text-align: center
            }
        }
        .dorpdown-layer {
            //          bottom: -10px;
            .prompt {
                padding: 10px 15px;
            }
            .nogoods {
                padding-left: 30px;
                height: 49px;
                line-height: 49px;
                overflow: hidden;
                color: #999;
                b {
                    float: left;
                    width: 56px;
                    height: 49px;
                    background-image: url("//misc.360buyimg.com/jdf/1.0.0/unit/shoppingcart/5.0.0/i/settleup-nogoods.png");
                }
            }
        }
    }
    //settleup-2014结束
}

//.has_qrcode 结束
.root61 #shelper {
    li.brand-search .bs-item .name {
        width: 384px
    }
}

#hotwords {
    float: left;
    height: 20px;
    line-height: 20px;
    overflow: hidden;
    a {
        margin-right: 10px;
        color: #999;
    }
}

@mixin hpl {
    display: block;
    right: 0;
    width: 308px;
}

@mixin bglay {
    background: #fff;
    border: 1px solid #ddd;
    box-shadow: 0 0 5px rgba(0, 0, 0, .2);
}

@mixin pspac {
    position: absolute;
    right: 0;
    top: -7px;
    width: 138px;
    height: 12px;
    background: #fff;
}

#settleup-2014 {
    z-index: 11;
    height: 36px;
    &.hover {
        .dorpdown-layer {
            @include hpl;
            @include bglay;
        }
        .cw-icon {
            @include bglay;
        }
        .spacer {
            @include pspac;
        }
    }
}

#settleup-content{
    position: relative;
    z-index: 2;
    width: 100%;
    background: #fff;
    .smt{
        height: 25px;
        padding: 6px 8px;
        line-height: 25px;
    }
    .smc{
        background: #fff;
        height: auto !important;
        max-height: 344px;
        overflow-y: auto;
    }
    .smb{
        padding: 8px;
        background: #F5F5F5;
        span{
            float: right;
            height: 29px;
            padding: 0 10px;
            background: #E4393C;
            color: #fff;
            text-align: center;
            font-weight: 700;
            line-height: 29px;
            -webkit-border-radius: 3px;
            cursor: pointer;
        }
        .p-total{
            float: left;
            line-height: 29px;
        }
    }
    ul{
        margin-top: -1px;
    }
    li{
        padding: 8px 10px;
        border-top: 1px dotted #ccc;
        overflow: hidden;
        line-height: 17px;
        vertical-align: bottom;
    }
    .p-img{
        float: left;
        width: 50px;
        height: 50px;
        border: 1px solid #ddd;
        padding: 0;
        margin-right: 10px;
        font-size: 0;
    }
    .p-price{
        font-weight: 700;
    }
    .hl-green{
        background: #3b0;
    }
    .hl-green,.hl-orange{
        margin-right: 5px;
        color: #fff;
        display: inline-block;
        padding: 0 2px;
        font: 12px/16px simsun,Hiragino Sans GB;
    }
    .p-name{
        float: left;
        width: 120px;
        height: 52px;
    }
    .p-price{
        font-weight: 700;
    }
    .hl-orange{
        background: #f60;
    }
}
#mcart-mj,#mcart-mz{
    .dt, .dt:hover{
        background: #bffab1;
    }
}    
.p-detail, .p-img, .p-market, .p-name, .p-price{
    overflow: hidden;
}
#hotwords {
    width: 462px;
    padding-left: 80px;
    height: 20px;
    line-height: 20px;
    overflow: hidden;
    a {
        margin-right: 10px;
        color: #999;
        a.highlight,
        &:hover {
            color: #F30213;
        }
    }
}

#hotwords strong {
    color: #999;
}

#hotwords-2014 {
    position: relative;
    float: left;
    left: 95px;
    width: 584px;
    height: 20px;
    line-height: 20px;
    overflow: hidden;
    a {
        float: left;
        white-space: normal;
        margin-right: 10px;
    }
}

.headerqrcode_lk:hover {
    color: #666
}

.headerqrcode:hover .headerqrcode_qc {
    opacity: 1;
    visibility: visible
}

.o2_retina .headerqrcode_ico {
    -moz-background-size: 25px 25px;
    background-size: 25px 25px;
    background-image: url("//static.360buyimg.com/mtd/pc/cms/index/images/qrcode_25x25@2x.png")
}

.chaoshi_fs {
    position: relative;
    min-height: 583px;
    margin-bottom: 15px;
}

.chaoshi_menu {
    background: #fff!important;
    height: 33px;
    font-size: 0;
    overflow: hidden;
}

.chaoshi_menu_list {
    padding-left: 190px;
    li {
        &:nth-of-type(1) {
            a {}
        }
    }
}

.chaoshi_menu_list_item {
    position: relative;
    margin-left: -1px;
    font-size: 0;
}

.chaoshi_menu_list_split {
    position: absolute;
    left: 0;
    top: 50%;
    margin-top: -6px;
    width: 1px;
    height: 12px;
    background-color: #ccc;
}

.chaoshi_menu_list_link {
    display: inline-block;
    zoom: 1;
    line-height: 33px;
    font-size: 14px;
    text-align: center;
    color: #333;
    &:hover {
        color: #ffa133;
    }
}

.o2_wide {
    .chaoshi_menu_ad_item_first {
        margin-left: 0;
    }
}

.chaoshi_menu_ad_item {
    color: #3c3c3c;
    font-size: 14px;
}

.chaoshi_menu_ad_icon {
    margin-right: 7px;
    width: 22px;
    height: 21px;
}

.chaoshi_menu_ad_icon,
.chaoshi_menu_ad_txt {
    vertical-align: middle;
    display: inline-block;
    zoom: 1;
    line-height: 33px;
}

.chaoshi_menu_list_link_on {
    color: #ffa133;
    border-left: 0;
}

.chaoshi_banner_wrapper {
    position: relative;
    z-index: 2;
    height: 550px;
    background: #f6f6f6;
}

.chaoshi_nav {
    width: 190px;
    position: absolute;
    top: -33px;
    left: 0;
    height: 583px;
    z-index: 6;
}

.chaoshi_nav_header {
    height: 33px;
    line-height: 33px;
    color: #fff;
    font-size: 14px;
    font-weight: 700;
    padding-left: 15px;
    background-color: #ffa133;
}

.chaoshi_nav_body {
    width: 100%;
    height: 550px;
    position: relative;
    .item {
        height: 60px;
        padding: 0 15px;
        border-top: 1px solid #fff;
        border-left: 1px solid #fff;
        background: #fff;
    }
    .item_hover {
        border-top: 1px solid #ddd;
        border-left: 1px solid #ddd;
        border-bottom: 1px solid #ddd;
        height: 59px;
    }
    .item_header {
        padding-top: 11px;
        border-bottom: 1px solid transparent;
        width: 159px;
        height: 49px;
        position: relative;
    }
    .item_decoration {
        position: absolute;
        width: 1px;
        height: 59px;
        top: 0;
        right: -16px;
        background-color: #fff;
        z-index: 22;
    }
    .item_header_title {
        color: #333;
        margin-bottom: 2px;
        position: relative;
        height: 20px;
        font-weight: 400;
    }
    .item_header_title_arrow {
        position: absolute;
        right: 0;
        top: 4px;
        display: block;
        width: 5px;
        height: 9px;
        font-size: 14px;
        font-family: simsun;
        font-weight: 400;
    }
    .item_header_sublinks {
        font-size: 12px;
        color: #999;
        height: 18px;
        width: 100%;
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
    }
    .item_header_sublinks_link {
        font-size: 12px;
        color: #999;
        margin-left: 3px;
        margin-right: 3px;
    }
    .item_header_sublinks_link_first {
        margin-left: 0;
    }
    .item_header_sublinks_link_last {
        margin-right: 0;
    }
    .item_last {
        height: 61px;
    }
    .item_header {
        padding-top: 11px;
        border-bottom: 1px solid transparent;
        width: 159px;
        height: 49px;
        position: relative;
    }
    .item_decoration {
        display: none;
        position: absolute;
        width: 1px;
        height: 59px;
        top: 0;
        right: -16px;
        background-color: #fff;
        z-index: 22;
    }
    .item_body {
        position: absolute;
        left: 190px;
        top: 0;
        background-color: #fff;
        width: 1000px;
        box-shadow: 4px 0 8px rgba(0, 0, 0, .2);
        z-index: 21;
    }
}

.chaoshi_nav_sub_title {
    color: #333;
    font-size: 14px;
    font-weight: 700;
    padding-bottom: 4px;
    border-bottom: 1px solid #ddd;
}

.chaoshi_nav_sub_main {
    padding-top: 6px;
}

.chaoshi_nav_sub_main_link {
    margin-right: 14px;
    margin-bottom: 5px;
    font-size: 12px;
    color: #777;
    display: inline-block;
}

.item_body_wrapper {
    border-top: 1px solid #ddd;
    border-left: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    padding: 30px 30px 52px 56px;
}

.chaoshi_nav_sub {
    width: 692px;
    min-height: 1px;
    position: relative;
    float: left;
}

.chaoshi_nav_sub_item {
    float: left;
    width: 190px;
    height: 93px;
    margin-right: 30px;
    margin-bottom: 20px;
    overflow: hidden;
}

.chaoshi_nav_recommend {
    float: left;
    width: 220px;
}

.chaoshi_nav_recommend_link {
    display: block;
    width: 100%;
    height: 95px;
    margin-bottom: 20px;
}

.chaoshi_banner_mid {
    margin-left: 200px;
    width: 780px;
    height: 100%;
}

.chaoshi_carousel {
    width: 780px;
    height: 400px;
    overflow: hidden;
    font-size: 0;
    position: relative;
}

.chaoshi_carousel_main {
    width: 780px;
    height: 100%;
    position: relative;
}

.chaoshi_carousel_item {
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}

.chaoshi_carousel_link {
    display: block;
    width: 100%;
    height: 100%;
}

.chaoshi_carousel_img {
    width: 780px;
    height: 100%;
}

.chaoshi_carousel_nav {
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 5;
}

.chaoshi_carousel_next,
.chaoshi_carousel_prev {
    position: absolute;
    top: 50%;
    margin-top: -30px;
    display: block;
    width: 24px;
    height: 60px;
    line-height: 60px;
    background: rgba(0, 0, 0, .21);
    text-align: center;
    font-size: 24px;
    font-family: simsun;
    color: #fff;
    z-index: 5;
    &::hover {
        color: #ffa133;
    }
}

.chaoshi_carousel_prev {
    left: 0;
}

.chaoshi_carousel_next {
    right: 0;
}

.chaoshi_nav_recommend_pic {
    width: 100%;
    height: 100%;
}

.chaoshi_carousel_nav_btn {
    float: left;
    display: inline-block;
    height: 5px;
    background-color: #4a4110;
    margin-right: 1px;
    font-size: 0;
}

.chaoshi_bottom {
    width: 100%;
    height: 150px;
    font-size: 0;
    overflow: hidden;
}

.chaoshi_bottom_item {
    width: 50%;
    height: 150px;
}

.chaoshi_bottom_img,
.chaoshi_bottom_link {
    width: 100%;
    height: 100%;
}

.chaoshi_bottom_link {
    display: block;
}

.chaoshi_right {
    width: 200px;
    height: 100%;
    position: relative;
    text-align: center;
    overflow: hidden;
}

@mixin ph {
    padding: 0 10px;
    height: 275px;
}

.chaoshi_coupon {
    @include ph;
    background: linear-gradient(180deg, #ffeec6 0, #ffd7a7);
}

.chaoshi_coupon {
    .chaoshi_right_tt {
        padding: 20px 0 7px;
    }
}

.chaoshi_right_tt {
    line-height: 16px;
    font-size: 16px;
    font-weight: 400;
    color: #934b20;
}

.chaoshi_right_tip {
    padding: 0 0 10px;
    line-height: 1;
    color: #af6f24;
    opacity: 0.5;
}

.chaoshi_coupon_bd {
    position: relative;
    border-top: 4px solid #ffa133;
    box-shadow: 0 3px 9px rgba(255, 161, 51, .25);
    background: #fff;
}

.chaoshi_handy {
    @include ph;
    background: linear-gradient(180deg, #fff2c6 0, #ffdeaa);
}

.chaoshi_coupon_info {
    display: block;
    position: relative;
    height: 114px;
    padding-top: 30px;
    background: #fff;
    text-align: right;
    &:before {
        left: -4px;
    }
}

.chaoshi_coupon_info_num1 {
    height: 26px;
    margin: 0 15px 12px;
    font-size: 26px;
    color: #68300a;
    text-align: center;
    em {
        margin-left: 6px;
        line-height: 26px;
        font-size: 36px;
        font-weight: 700;
    }
}

.chaoshi_coupon_info_num2 {
    height: 12px;
    line-height: 12px;
    margin: 0 18px 23px;
    color: #5f3211;
    text-align: center;
}

.chaoshi_coupon_info_tip {
    position: absolute;
    bottom: 0;
    left: 2px;
    width: 175px;
    height: 36px;
    line-height: 36px;
    color: #633415;
    text-align: center;
    border-top: 3px dashed #e6e6e6;
    overflow: hidden;
}

.chaoshi_coupon_more {
    display: block;
    height: 36px;
    line-height: 36px;
    font-size: 14px;
    color: #fff;
    background: #ffa133;
    border-radius: 2px;
    overflow: hidden;
    &:hover {
        color: #fff;
    }
}

.chaoshi_handy {
    padding: 0 10px;
    height: 275px;
    background: linear-gradient(180deg, #fff2c6 0, #ffdeaa);
}

.chaoshi_right_tt {
    padding: 10px 0;
    line-height: 16px;
    font-size: 16px;
    font-weight: 400;
    color: #934b20;
}

.chaoshi_handy_carousel_main {
    height: 185px;
    background: #fff;
    border-radius: 8px;
    box-shadow: 0 6px 13px rgba(255, 160, 24, .26);
}

.chaoshi_handy_carousel_item {
    left: 0;
    right: 0;
    padding: 20px 0;
}

.chaoshi_handy_carousel_link {
    display: block;
}

.chaoshi_handy_carousel_img {
    margin: 0 auto 20px;
    width: 100px;
    height: 100px;
}

.chaoshi_handy_carousel_enter {
    display: inline-block;
    width: 105px;
    height: 25px;
    line-height: 25px;
    color: #fff;
    border-radius: 15px;
    background: linear-gradient(90deg, #ffa133 0, #ffc333);
    &:hover {
        color: #fff;
    }
}

.chaoshi_handy_carousel_nav {
    display: block;
    font-size: 0;
    padding-top: 10px;
    height: 18px;
    overflow: hidden;
}

.chaoshi_handy_carousel_nav_btn {
    display: inline-block;
    margin: 0 4px;
    width: 5px;
    height: 5px;
    border-radius: 100%;
    background: #ffa133;
    border: 1px solid #ffdeaa;
    &.on {
        border-color: #ffa133;
        background: none;
    }
}

.chaoshi_carousel_nav_btn_last {
    margin-right: 0;
}

.chaoshi_carousel_nav_btn_on {
    background: #ec7002;
}

.chaoshi_seckill {
    min-height: 320px;
    margin-bottom: 15px;
    background: url("//static.360buyimg.com/mtd/pc/supermarket_v3/3.0.1/v3/images/chaoshi_seckill_bg.png") center 0 no-repeat;
    .time_item {
        position: relative;
        float: left;
        width: 48px;
        height: 35px;
        background-color: #362746;
        color: #fff;
        font-size: 24px;
        font-family: Arial;
        font-weight: 700;
        text-align: center;
        line-height: 35px;
        margin-top: 21px;
        letter-spacing: 12px;
        text-indent: 5px;
        &:before {
            content: '';
            position: absolute;
            top: 0;
            left: 50%;
            margin-left: -1px;
            width: 2px;
            height: 100%;
            background: #efe6dd;
        }
    }
    .time_split {
        float: left;
        margin: 35px 4px 0;
        width: 2px;
        height: 6px;
        font-size: 0;
        line-height: 0;
    }
    .time_split_top {
        margin-bottom: 4px;
    }
    .time_split_dot {
        display: block;
        width: 2px;
        height: 2px;
        border-radius: 100%;
        background: #362746;
    }
    .time_split_bottom {
        top: 30px;
    }
}

.grid_c1 {
    width: 1190px;
    margin-left: auto;
    margin-right: auto;
}

.chaoshi_seckill_hd {
    position: relative;
    height: 70px;
    line-height: 70px;
    color: #fff;
}

.chaoshi_seckill_tit {
    position: relative;
    float: left;
    margin-left: 15px;
    font-size: 20px;
    font-weight: 700;
    line-height: 78px;
    height: 70px;
    padding: 0 0 0 52px;
    color: #333;
    letter-spacing: 1px;
    &:before {
        content: '';
        position: absolute;
        left: 19px;
        top: 50%;
        margin-top: -5px;
        background-image: url("//static.360buyimg.com/mtd/pc/supermarket_v3/3.0.1/v3/images/sprite_chaoshi_index@1x.png");
        background-position: 0 -52px;
        background-size: 118px 73px;
        background-repeat: no-repeat;
        width: 19px;
        height: 21px;
    }
}

.chaoshi_seckill_time {
    float: left;
    height: 70px;
    .csi_pic {
        position: relative;
        text-align: center;
    }
    .csi_name {
        color: #333px;
        min-width: 100%;
        height: 36px;
        text-align: left;
        word-wrap: break-word;
        word-break: break-all;
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-line-clamp: 2;
        transition: -webkit-transform .4s ease;
    }
}

.chaoshi_seckill_time_tip {
    float: left;
    margin: 33px 25px 0 0;
    padding-left: 15px;
    line-height: 14px;
    font-size: 14px;
    color: #333;
    border-left: 1px solid #333;
}

.chaoshi_seckill_time_main {
    float: left;
}

.chaoshi_seckill_list {
    float: left;
    width: 990px;
    height: 250px;
    overflow: hidden;
    background-color: #fff;
}

.chaoshi_seckill_item {
    float: left;
    width: 164px;
    height: 100%;
    padding: 0 14px 0 19px;
    border-right: 1px solid #e6e6e6;
    .csi_price_origin {
        display: inline-block;
        color: #999;
        font-size: 12px;
    }
    .csi_pic {
        position: relative;
        text-align: center;
    }
    .csi_price {
        white-space: normal;
    }
    .csi_price_new {
        display: inline-block;
        width: 95px;
        font-size: 18px;
        font-weight: 700;
        margin-right: 5px;
        color: #ff002f;
    }
    .csi_img {
        width: 130px;
        height: 130px;
        margin: 17px 0;
        transition: -webkit-transform .4s ease;
        transform: translateZ(0);
    }
    .csi_name {
        color: #333;
        min-width: 100%;
        margin-bottom: 12px;
        height: 36px;
        text-align: left;
        word-wrap: break-word;
        word-break: break-all;
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-line-clamp: 2;
        transition: -webkit-transform .4s ease;
    }
    .csi_pic_lk {
        display: block;
        outline: 0;
        &:hover {
            a {
                color: #ffa133;
            }
            .csi_name {
                color: #ffa133;
            }
            .csi_img {
                transform: translateY(-5px);
            }
        }
    }
}

.chaoshi_seckill_more {
    float: left;
    width: 200px;
    height: 250px;
    img {
        min-width: 200px;
        min-height: 250px;
    }
}

.chaoshi_discount {
    min-height: 575px;
    margin-bottom: 25px;
    .cdi_promote {
        height: 18px;
        margin-bottom: 12px;
    }
    .cdi_name {
        margin-bottom: 2px;
    }
}

.chaoshi_mod_head {
    overflow: hidden;
    padding: 0 0 20px;
    height: 35px;
    background: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAMAAAAHAQMAAAD3d2XqAAAABlBMVEUAAAC/v79T5hyIAAAAAXRSTlMAQObYZgAAAAtJREFUCNdjaECGABiOA4FOsWZrAAAAAElFTkSuQmCC") repeat-x 0 16px;
    text-align: center;
    font-size: 24px;
    line-height: 35px;
}

.chaoshi_mod_head_title {
    display: inline;
    padding: 0 50px;
    background-color: #f6f6f6;
    font-weight: 400;
    font-size: 26px;
    color: #333;
}

.chaoshi_discount_big {
    .cdb_item {
        position: relative;
        float: left;
        width: 388px;
        margin: 0 10px 20px 0;
        background: #fff;
        border: 1px solid #f2f2f2;
        &.last {
            margin-right: 0;
        }
    }
    .cdb_bd {
        position: relative;
        padding: 20px 40px 0 190px;
        height: 168px;
    }
    .cdb_pic {
        display: block;
        position: absolute;
        left: 20px;
        top: 18px;
        width: 150px;
        height: 150px;
        img {
            width: 100%;
            height: 100%;
        }
    }
    .cdb_logo {
        display: block;
        margin-bottom: 13px;
        width: auto;
        height: 36px;
        background: none!important;
    }
    .cdb_name {
        height: 36px;
        margin-bottom: 4px;
        color: #333;
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-line-clamp: 2;
        transition: color .25s ease;
    }
    .cdb_ft_l {
        position: relative;
        float: left;
        padding-left: 29px;
        width: 204px;
        height: 60px;
        background: #f75f3c;
        &:before {
            content: "";
            position: absolute;
            left: 0;
            top: 0;
            width: 0;
            height: 0;
            border: 5px solid transparent;
            border-top: 5px solid #fff;
            border-left: 5px solid #fff;
            overflow: hidden
        }
    }
    .cdb_price {
        margin-bottom: 4px;
        font-size: 16px;
        color: #fff;
        &.nosalenum {
            padding-top: 21px;
        }
    }
    .cdb_add {
        bottom: -60px;
        line-height: 60px;
        background: #ffa133;
        color: #fff;
        text-align: center;
        font-size: 16px;
        cursor: pointer;
    }
    .cdb_ft_r {
        float: right;
        width: 155px;
        height: 60px;
    }
    .cdb_add_icon {
        margin: 0 6px 0 0;
    }
    .cdb_add_txt {
        display: inline-block;
        vertical-align: top;
    }
    .cdb_price.nosalenum {
        padding-top: 21px;
    }
    .cdb_promote1 {
        height: 18px;
        white-space: nowrap;
        text-overflow: ellipsis;
        margin-bottom: 10px;
        color: #999;
    }
    .cdb_promote2 {
        display: inline-block;
        margin-bottom: 33px;
        max-height: 36px;
        color: #ffa133;
        padding: 0 15px;
        background: #fff5ea;
        overflow: hidden;
    }
}

.chaoshi_discount_small {
    position: relative;
    border-top: 1px solid #e6e6e6;
    .cdi_name {
        display: block;
        height: 18px;
        white-space: nowrap;
    }
    .cdi_add {
        position: absolute;
        right: 14px;
        bottom: 16px;
        width: 30px;
        height: 30px;
        line-height: 30px;
        text-align: center;
        background: #ffa133;
    }
}

.cdb_add_icon,
.cdi_add_icon,
.goods_add_icon {
    display: inline-block;
    vertical-align: middle;
    background-image: url("//static.360buyimg.com/mtd/pc/supermarket_v3/3.0.1/v3/images/sprite_chaoshi_index@1x.png");
    background-position: -21px -52px;
    background-size: 118px 73px;
    background-repeat: no-repeat;
    width: 15px;
    height: 15px;
}

.chaoshi_discount_listwrap {
    position: relative;
    float: left;
    width: 990px;
    height: 250px;
    overflow: visible;
    &:before {
        content: '';
        position: absolute;
        z-index: 2;
        left: 0;
        width: 0;
        height: 0;
        top: 0;
        border: 10px dashed transparent;
        overflow: hidden;
        border-top: 10px solid #fe952d;
        border-left: 10px solid #fe952d;
    }
    &:after {
        content: '';
        position: absolute;
        bottom: -10px;
        left: 0;
        width: 990px;
        height: 10px;
        background: url("//static.360buyimg.com/mtd/pc/supermarket_v3/3.0.1/v3/images/chaoshi_discount_line.png") 0 0 no-repeat;
    }
}

.chaoshi_discount_list {
    width: 100%;
    height: 100%;
    background-color: #fff;
}

.chaoshi_discount_item {
    position: relative;
    float: left;
    width: 164px;
    height: 100%;
    padding: 0 14px 0 19px;
    border-right: 1px solid #e6e6e6;
    .cdi_pic {
        position: relative;
        text-align: center;
    }
    .cdi_pic_lk {
        display: block;
        outline: 0;
        &:hover {
            .cdi_img {
                transform: translateY(-5px);
            }
            .cdi_name {
                color: #ffa133;
            }
        }
    }
    .cdi_img {
        width: 130px;
        height: 130px;
        margin: 17px 0;
        transition: -webkit-transform .4s ease;
    }
    .cdi_name {
        color: #333;
        max-width: 100%;
        text-align: left;
        word-wrap: break-word;
        word-break: break-all;
        overflow: hidden;
        text-overflow: ellipsis;
        -webkit-line-clamp: 2;
        transition: -webkit-transform .4s ease;
    }
    .cdi_price_new {
        display: inline-block;
        width: 95px;
        font-size: 18px;
        font-weight: 700;
        margin-right: 5px;
        color: #ff002f;
    }
}

.chaoshi_discount_more {
    position: relative;
    z-index: 2;
    float: left;
    width: 200px;
    height: 259px;
    img {
        margin-left: -20px;
        min-width: 200px;
        min-height: 259px;
    }
}

.chaoshi_brand_row {
    margin-bottom: 10px;
}

@mixin img109p {
    width: 100%;
    height: 100%;
    transition: all .2s ease;
}

.chaoshi_brand_today {
    float: left;
    width: 390px;
    height: 270px;
    img {
        @include img109p;
        &:hover {
            transform: translateY(-5px);
        }
    }
}

.chaoshi_brand_list {
    float: left;
}

.chaoshi_brand_item {
    float: left;
    margin: 0 0 0 10px;
    width: 190px;
    height: 270px;
    img {
        @include img109p;
        &:hover {
            transform: translateY(-5px);
        }
    }
}

.chaoshi_brand_small {
    width: 1000px;
    .chaoshi_brand_item {
        margin: 0 10px 0 0;
    }
}

.chaoshi_brand_more {
    float: left;
    position: relative;
    z-index: 2;
    width: 190px;
    height: 270px;
    img {
        margin-left: -20px;
        min-height: 270px;
    }
}

.chaoshi_buy_goods {
    width: 1189px;
    margin-bottom: 10px;
    overflow: hidden;
    position: relative;
    height: 260px;
    top: 0;
    left: 0;
}

.chaoshi_buy_goods_list {
    background-color: #fff;
    height: 260px;
    transition: transform .6s cubic-bezier(0, 1.35, .83, .98), -webkit-transform .6s cubic-bezier(0, 1.35, .83, .98), -moz-transform .6s cubic-bezier(0, 1.35, .83, .98);
    transform: translateZ(0);
    .goods_item {
        padding: 20px 20px 0 19px;
        width: 160px;
        height: 240px;
        &:hover {
            -moz-box-shadow: 0 0 10px rgba(4, 0, 0, .1);
            box-shadow: 0 0 10px rgba(4, 0, 0, .1)
        }
        &.xinren {
            &:hover {
                -moz-box-shadow: none;
                box-shadow: none
            }
        }
    }
    .goods_title {
        white-space: nowrap;
    }
}

.goods_item {
    position: relative;
    float: left;
    overflow: hidden;
    .goods_add {
        transition: bottom .25s ease;
    }
}

.goods_list_items {
    float: left;
    width: 1194px;
}

.goods_pic {
    display: block;
    margin: 0 auto 10px;
    width: 140px;
    height: 140px;
    text-align: center;
    overflow: hidden;
}

.goods_img {
    width: 100%;
    height: 100%;
}

.goods_add {
    display: block;
    position: absolute;
    bottom: -60px;
    left: 0;
    width: 100%;
    height: 60px;
    line-height: 60px;
    background: #ffa133;
    color: #fff;
    font-size: 14px;
    cursor: pointer;
    text-align: center;
}

.goods_desc,
.goods_title {
    overflow: hidden;
    text-overflow: ellipsis;
}

.goods_title {
    display: block;
    font-size: 12px;
    color: #333;
}

.goods_desc {
    margin-bottom: 14px;
    height: 18px;
    color: #999;
    white-space: nowrap;
    text-align: left;
}

.goods_price {
    font-size: 18px;
    color: #ff002f;
}

.goods_add_txt {
    display: inline-block;
    vertical-align: middle;
}

.chaoshi_buy_goods_prev {
    left: 0;
}

.chaoshi_buy_goods_next,
.chaoshi_buy_goods_prev {
    position: absolute;
    top: 50%;
    margin-top: -30px;
    display: block;
    width: 24px;
    height: 60px;
    line-height: 60px;
    background: rgba(0, 0, 0, .4);
    text-align: center;
    font-size: 24px;
    font-weight: 400;
    font-family: simsunm;
    color: #fff;
    z-index: 5;
    &：hover {
        color: #ffa133;
    }
}

.chaoshi_buy_goods_next {
    right: 0;
}

.goods_item {
    &:hover {
        .goods_desc,
        .goods_price_origin,
        .goods_title {
            display: none;
            float: none;
        }
        .goods_add{
            bottom: 0;
        }
        a{
            color: #fff;
        }
    }
}
.goods_add,.goods_item{
    &:hover{
        .goods_price,.goods_priceall{
            text-align: center
        }
    }
}
.goods_add_icon{
    margin: 0 6px 0 0;
}
.chaoshi_category{
    margin-bottom: 15px;
    min-height: 540px;
    margin-top: 40px;
}
.chaoshi_category_bd{
    height: 485px;
    overflow: hidden;
}
.chaoshi_category_focus{
    position: relative;
    width: 190px;
    float: left;
    img{
        width: 190px;
        height: 485px;
    }
}
.chaoshi_category_goods{
    margin-left: 190px;
    background-color: #fff;
    .goods_item{
        width: 169px;
        height: 233px;
        padding: 10px 15px 0;
        border-left: 1px solid #f2f2f2;
        border-bottom: 1px solid #f2f2f2;
    }
     .goods_pic{
         width: 130px;
         height: 130px;
         margin-bottom: 17px;
     }
     .goods_title{
    margin-bottom: 7px;
    height: 36px;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    }
     .goods_price{
         float: left;
         margin-right: 10px;
         font-size: 14px;
     }
     .goods_prices_plus{
         display: none;
         float: right;
         font-size: 0;
     }
     .goods_prices_plus_txt{
         margin-right: 5px;
         font-size: 12px;
         color: #000;
     }
     .goods_prices_plus_icon{
         display: inline-block;
         background: url("//static.360buyimg.com/mtd/pc/supermarket_v3/3.0.1/v3/images/chaoshi_plus.png") 0 0 no-repeat;
         width: 39px;
         height: 12px;
     }
     .goods_add{
         height: 50px;
         line-height: 50px;
     }
}
.goods_price{
    color: #ff002f;
}
.goods_pic{
    display: block;
    margin: 0 auto 10px;
    text-align: center;
    overflow: hidden;
}
.goods_desc, .goods_title{
    overflow: hidden;
    text-overflow: ellipsis;
}
.chaoshi_category_focus_pic{
    display: block;
}
.chaoshi_category_focus_key{
    position: absolute;
    bottom: 0;
    height: 133px;
    padding: 20px 10px 12px;
    background: rgba(0,0,0,.2);
    a{
        float: left;
        width: 73px;
        height: 24px;
        margin: 0 5px 8px;
        line-height: 24px;
        color: #fff;
        text-align: center;
        border: 1px solid hsla(0,0%,100%,.6);
        background: hsla(0,0%,95%,.2);
        overflow: hidden;
        &:hover{
            color: #fff;
            border-color: #fff;
        }
    }
}
.chaoshi_category_focus_key_inner{
    height: 133px;
    overflow: hidden;
}

.chaoshi_lift{
    width: 56px;
    position: fixed;
    z-index: 100;
    background: #fff;
    -webkit-backface-visibility: hidden;
}
.chaoshi_lift_item{
    font-size: 12px;
    text-align: center;
    position: relative;
}

.chaoshi_lift_item_btn{
    color: #666;
    cursor: pointer;
    border-bottom: 1px solid #f3f3f3;
    padding: 3px 0;
    display: block;
    text-align: center;
}
.chaoshi_lift_top{
    border: 0;
    background: #ff2d54;
    position: relative;
    z-index: 1;
    padding-bottom: 0;
    .chaoshi_lift_item_btn{
        background-color: #ffa133;
        color: #fff;
        border-color: #ffa133;
    }
}
.chaoshi_lift_item_btn{
    cursor: pointer;
    border-bottom: 1px solid #f3f3f3;
    padding: 3px 0;
    display: block;
    text-align: center;
}

.chaoshi_lift_item_btn{
    &:hover,.chaoshi_lift_item_btn_active {
    color: #fff;
    background: #ffa133
    }
}





