@charset "utf-8";
$wi-100:100%;
$hei-30:30px;
$bdb-1: 1px solid #ddd;
$bd-1: 1px solid #ddd;
$wi-1200:1200px;
$wid-1190:1190px;
$c-999: #999;
$c-e3e4e5:#e3e4e5;
$c-5c5452:#5c5452;
$c-f30213:#f30213;
$margin-g:0 auto;
$fz-16:16px;
$s-5p:5px;
$wi-1:1px;
$hei-12:12px;
$mt-9:9px;
$c-ccc:#ccc;
$mr-10:10px;
body,
.mod_container {
    min-height: $wid-1190;
}

//------------------标头----------------//
@mixin bg-bds {
    background: #fff;
    border: solid #ddd;
    border-width: 0 1px;
}

.root61 {
    #shortcur {
        #ttbar-navs {
            dl {
                width: 259px;
            }
            .item {
                width: 86px;
            }
        }
    }
}

#shortcur {
    width: $wi-100;
    height: $hei-30;
    line-height: $hei-30;
    background: $c-e3e4e5;
    border-bottom: $bdb-1;
    a {
        color: $c-999;
        &:hover {
            color: $c-f30213;
        }
    }
    li {
        float: left;
        height: $hei-30;
        padding: 0 2px;
    }
    .w {
        background: $c-e3e4e5;
        color: $c-999;
        width: $wi-1200;
        .dorpdown:hover,
        .hover {
            .dorpdown-layer {
                display: block;
                position: absolute;
            }
        }
        #ttbar-home {
            float: left;
            height: $hei-30;
            padding: 0 2px;
            .iconfont {
                position: relative;
                display: inline;
                font-size: $fz-16;
                color: $c-5c5452;
                padding-right: $s-5p;
            }
        }
        .fr {
            #ttbar-login {
                margin-right: $mr-10;
                .link-login {
                    font-family: "verdana,simsun";
                }
                .style-red {
                    color: $c-f30213;
                }
            }
            .spacer {
                width: $wi-1;
                height: $hei-12;
                margin-top: $mt-9;
                padding: 0;
                background: $c-ccc;
                overflow: hidden;
            }
            .dt {
                float: left;
                padding: 0 8px;
            }
            .dorpdown {
                z-index: 13;
                .dt {
                    width: 49px;
                    padding-right: 25px;
                }
            }
            .cw-icon {
                .iconfont {
                    position: absolute;
                    right: 5px;
                    top: 10px;
                    width: 12px;
                    height: $hei-12;
                    line-height: $hei-12;
                }
            }
        }
    }
    .hover {
        .dorpdown-layer {
            -webkit-transition: all 0.6s cubic-bezier(0.23, 1, .32, 1);
            //          display: block;
        }
    }
    .dd {
        line-height: 24px;
    }
    .dorpdown-layer {
        top: 30px;
        background: #fff;
        border: $bd-1;
    }
    li {
        &.hover {
            padding: 0 1px;
            .dt {
                @include bg-bds;
            }
        }
        &li.dorpdown {
            z-index: 13;
        }
    }
    .dd-spacer {
        position: absolute;
        top: -7px;
        height: 10px;
        background: #fff;
        overflow: hidden;
    }
    #ttbar-atte,
    #ttbar-serv {
        .dt {
            width: 49px;
            padding-right: 25px;
        }
        .dd {
            padding-bottom: 8px;
        }
        .dd-spacer {
            left: 0;
            width: 82px;
        }
        .item {
            display: inline-block;
            width: 70px;
        }
    }
    #ttbar-serv {
        .dd {
            width: 170px;
        }
        .item-business,
        .item-client {
            font-weight: 700;
            padding-left: 10px;
            color: #666;
        }
        .item {
            padding-left: 10px;
        }
        .item-business {
            border-top: 1px solid #eee;
            padding-top: 5px;
            margin-top: 5px;
        }
    }
    .dt {
        float: left;
        padding: 0 8px;
    }
    #ttbar-navs {
        .dt {
            width: 49px;
            padding-right: 25px;
        }
        .dd {
            width: 1208px;
            right: -69px;
            padding: 20px 0 16px;
        }
        .dd-spacer {
            right: 69px;
            width: 82px;
        }
        dl.fore1 {
            width: 347px;
            border-left: none;
        }
        dl {
            float: left;
            padding-left: 20px;
            border-left: 1px solid #eee;
        }
        dt {
            font-size: 14px;
            font-weight: 700;
            margin-bottom: 6px;
            color: #666;
        }
        .item {
            float: left;
            width: 100px;
        }
        .fore2 {
            display: block;
        }
    }
    //  #ttbar-navs结束
    li {
        &#ttbar-apps {
            .dt {
                background: 0 0;
            }
        }
    }
    #ttbar-apps {
        .dorpdown-layer {
            right: 0;
        }
        .dd {
            width: 190px;
            border-bottom: 3px solid #60575a;
        }
        .dd-spacer {
            position: absolute;
            display: block;
            top: -9px;
            left: 154px;
            margin-left: -5px;
            width: 0;
            height: 0;
            line-height: 0;
            font-size: 0;
            border-width: 5px;
            border-style: solid;
            border-color: #e4e4e4 #e4e4e4 #fff;
        }
    }
}

//------------------shortcur结尾处------------//
//apps开始
.mobile_pop_item {
    position: relative;
    z-index: 5;
    padding: 15px 0;
    border-bottom: 1px solid #E7E7E7;
}

.mobile_pop_device_lk {
    background-image: url("//misc.360buyimg.com/mtd/pc/index/home/images/sprite_mobile@1x.png");
}

.mobile_pop_qrcode {
    position: absolute;
    left: 5px;
    top: 14px;
    width: 74px;
    height: 74px;
    border: 1px solid #CCC;
    background-color: #F7F7F7;
}

.mobile_pop_qrcode {
    img {
        width: 70px;
        height: 70px;
        margin: 2px 0 0 2px;
    }
}

.mobile_pop_info {
    margin: 0 10px 0 86px;
    min-height: 70px;
}

.mobile_pop_tit {
    font-size: 12px;
    line-height: 17px;
    color: #666 !important;
}

.mobile_pop_tit {
    a {
        color: #666 !important;
    }
}

.mobile_pop_value {
    margin: 3px 0;
    line-height: 14px;
    color: #F10214;
}

.mobile_pop_device {
    overflow: hidden;
    height: 25px;
}

.mobile_pop_device_lk {
    overflow: hidden;
    float: left;
    margin-right: 2px;
    width: 25px;
    height: 25px;
    text-indent: -999px;
}

.mobile_pop_device_ios {
    background-position: 0 0;
}

.mobile_pop_device_and {
    background-position: 0 -26px;
}

.mobile_pop_device_pad {
    background-position: 0 -52px;
}

@media only screen and ( -webkit-min-device-pixel-ratio:1.5),
only screen and ( min--moz-device-pixel-ratio:1.5),
only screen and ( -o-min-device-pixel-ratio:3/2),
only screen and ( min-device-pixel-ratio:1.5) {
    .mobile_pop_device_lk {
        background-image: url("//misc.360buyimg.com/mtd/pc/index/home/images/sprite_mobile@2x.png");
        background-size: 25px 77px;
    }
}

.cw-icon {
    //      float: left;
    padding: 0 8px;
    .i,
    i {
        display: block;
        position: absolute;
        overflow: hidden;
    }
}

// #ttbar-myjd 开始处
#ttbar-myjd {
    .dorpdown-layer {
        width: 280px;
    }
    .dt {
        width: 49px;
        padding-right: 25px;
    }
    .dd-spacer {
        left: 0;
        width: 82px;
    }
    .myjdlist1,
    .myjdlist2 {
        width: 265px;
        padding: 5px 0 5px 15px;
        overflow: hidden;
        .fore1,
        .fore2 {
            float: left;
            width: 126px;
        }
    }
    .myjdlist2,
    .viewlist {
        border-top: 1px solid #f1f1f1;
    }
    .viewlist {
        width: 250px;
        padding: 0 15px 10px;
        border-top: 1px solid #F1F1F1;
        padding-top: 10px;
        .smt {
            overflow: hidden;
            zoom: 1;
            h4 {
                float: left;
            }
            .extra {
                float: right;
            }
        }
        .smc {
            overflow: hidden;
            zoom: 1;
            .item {
                float: left;
                padding: 4px;
                line-height: 0;
                font-size: 0;
            }
        }
    }
    .dd-spacer {
        left: 0;
        width: 82px;
    }
    img[Attributes Style] {
        width: 50px;
        height: 50px;
    }
}

// #ttbar-myjd 结尾处
//----------------小广告第二栏--------------------//
.chaoshi_top_lk {
    display: block;
    position: relative;
}

.grid_c1 {
    width: 1190px;
    margin-left: auto;
    margin-right: auto
}

.chaoshi_top_close {
    position: absolute;
    top: 8px;
    right: 8px;
    background-image: url("//static.360buyimg.com/mtd/pc/supermarket_v3/3.0.1/v3/images/sprite_chaoshi_index.png");
    background-position: 0 0;
    background-repeat: no-repeat;
    width: 20px;
    height: 20px;
    cursor: pointer
}

#logo-2014 {
    height: 56px;
    padding: 0;
    margin-top: 26px;
    margin-bottom: 22px;
    position: relative;
    float: left;
    z-index: 12;
    margin: 15px 0 22px;
    .logo {
        display: block;
        position: absolute;
        left: 0;
        margin-top: 0;
        background-image: url("//static.360buyimg.com/mtd/pc/supermarket_v3/3.0.1/v3/images/sprite_chaoshi_mod_header_v2@1x.png");
        background-position: 0 0;
        background-size: 213px 82px;
        background-repeat: no-repeat;
        width: 213px;
        height: 54px;
    }
}

.logo_dropdown {
    position: absolute;
    width: 90px;
    top: 12px;
    left: 234px;
    z-index: 3;
    .dropdown_box {
        height: 24px;
        border-bottom: 2px solid #c91523;
        .dt {
            color: #fff;
            width: 49px;
            text-align: center;
            font-size: 0;
            line-height: 24px;
        }
        .ui-areamini-text {
            overflow: hidden;
            text-align: center;
            color: #c91523;
            font-size: 14px;
            margin-left: -5px;
        }
    }
    .cw-icon {
        i {
            right: 0;
            top: 9px;
            text-indent: -9999px;
            -webkit-transition: -webkit-transform .1s ease;
            transition: -webkit-transform .1s ease;
            -moz-transition: transform .1s ease, -moz-transform .1s ease;
            transition: transform .1s ease;
            transition: transform .1s ease, -webkit-transform .1s ease, -moz-transform .1s ease;
            background-image: url("//static.360buyimg.com/mtd/pc/supermarket_v3/3.0.1/v3/images/sprite_chaoshi_mod_header_v2@1x.png");
            background-position: -19px -56px;
            -moz-background-size: 213px 82px;
            background-size: 213px 82px;
            background-repeat: no-repeat;
            width: 11px;
            height: 7px;
        }
    }
    .hover {
        .cw-icon {
            i {
                -webkit-transform: rotate(180deg);
                -moz-transform: rotate(180deg);
                -ms-transform: rotate(180deg);
                transform: rotate(180deg)
            }
        }
    }
}

//.logo_dropdown 结束
.dropdown_locate {
    background-image: url("//static.360buyimg.com/mtd/pc/supermarket_v3/3.0.1/v3/images/sprite_chaoshi_mod_header_v2@1x.png");
    background-position: 0 -56px;
    -moz-background-size: 213px 82px;
    background-size: 213px 82px;
    background-repeat: no-repeat;
    width: 17px;
    height: 26px
}

//定位style
.dropdown_wrap {
    width: 65px;
    height: 26px;
    margin-left: 6px;
    li {
        .dorpdown-layer {
            top: 26px;
            left: -1px;
            background: #fff;
            border: 1px solid #ddd;
        }
        .dd {
            line-height: 24px;
        }
        &.hover {
            .dorpdown-layer {
                display: block;
            }
        }
    }
    .dropdown_box {
        transition: all 0.5s;
        .dd {
            width: 301px;
            padding: 10px 0 10px 10px;
        }
        .dorpdown-layer {
            .item {
                float: left;
                width: 60px;
                padding: 2px 0;
                a {
                    float: left;
                    padding: 0 8px;
                }
            }
        }
    }
}

#search-2014 {
    width: 450px;
    margin-right: 0;
    position: relative;
    z-index: 11;
    float: left;
}

#settleup-2014 {
    margin-left: 30px;
    float: left;
    margin-right: 0;
    z-index: 11;
    height: 36px;
}

#shelper {
    overflow: hidden;
    position: absolute;
    top: 36px;
    left: 0;
    border: 1px solid #ccc;
    background: #fff;
}

//搜索框
.has_qrcode {
    //  position: relative;
    //  margin-top: 27px;
    //  float: right;
    //  margin-left: 30px;
    //  width: 120px;
    #search-2014 {
        width: 450px;
        margin-right: 0;
        .form{
            width: 450px;
            height: 36px;
        }
        .text {
            width: 360px;
            border-color: #ffa133;
            float: left;
            height: 24px;
            line-height: 24px;
            color: #999;
            padding: 4px;
            margin-bottom: 4px;
            border-width: 2px 0 2px 2px;
            border-style: solid;
            outline: 0;
            font-size: 12px;
        }
        .button {
            width: 80px;
            background: #ffa133;
            float: left;
            height: 36px;
            font-family: tahoma, arial, Microsoft YaHei, Hiragino Sans GB, "\u5b8b\u4f53", sans-serif;
            border: 0;
            border-radius: 0;
            line-height: 1;
            color: #fff;
            font-size: 16px;
            cursor: pointer;
        }
        .cw-icon {
            i {
                top: 0;
                left: 0;
                width: 82px;
                height: 36px;
            }
        }
    }
    //#search-2014 结束
    #shelper {
        width: 448px;
    }
    //#settleup-2014开始
    #settleup-2014 {
        margin-left: 30px;
        float: left;
        .cw-icon {
            width: 91px;
            height: 34px;
            border: 1px solid #dfdfdf;
            padding: 0 28px 0 19px;
            background: #f9f9f9;
            line-height: 34px;
            a {
                color: #f30213;
            }
            .ci-left {
                top: 9px;
                left: 90px;
                width: 16px;
                height: 16px;
                background: url("//misc.360buyimg.com/jdf/1.0.0/unit/shoppingcart/5.0.0/i/settleup-@1x.png") no-repeat;
                background-size: 16px 16px;
                overflow: hidden;
            }
            .ci-right {
                display: none;
                top: 13px;
                right: 12px;
                height: 10px;
                width: 10px;
                background: url("//misc.360buyimg.com/jdf/1.0.0/unit/shoppingcart/5.0.0/i/right-@1x.png") no-repeat;
                background-size: 10px 10px;
                overflow: hidden;
            }
            .ci-count {
                position: absolute;
                top: 7px;
                left: 105px;
                display: inline-block;
                *zoom: 1;
                *display: inline;
                padding: 1px;
                font-size: 12px;
                line-height: 14px;
                letter-spacing: -1px;
                color: #fff;
                background-color: #da1026;
                border-radius: 7px;
                min-width: 14px;
                font-family: tahoma, arial;
                text-align: center
            }
        }
        .dorpdown-layer {
            //          bottom: -10px;
            .prompt {
                padding: 10px 15px;
            }
            .nogoods {
                padding-left: 30px;
                height: 49px;
                line-height: 49px;
                overflow: hidden;
                color: #999;
                b {
                    float: left;
                    width: 56px;
                    height: 49px;
                    background-image: url("//misc.360buyimg.com/jdf/1.0.0/unit/shoppingcart/5.0.0/i/settleup-nogoods.png");
                }
            }
        }
    }
    //settleup-2014结束
}

//.has_qrcode 结束
@mixin hpl {
    display: block;
    right: 0;
    width: 308px;
}

@mixin bglay {
    background: #fff;
    border: 1px solid #ddd;
    box-shadow: 0 0 5px rgba(0, 0, 0, .2);
}

@mixin pspac {
    position: absolute;
    right: 0;
    top: -7px;
    width: 138px;
    height: 12px;
    background: #fff;
}

#settleup-2014 {
    z-index: 11;
    height: 36px;
    &.hover {
        .dorpdown-layer {
            @include hpl;
            @include bglay;
        }
        .cw-icon {
            @include bglay;
        }
        .spacer {
            @include pspac;
        }
    }
}

//#settleup-content{
//  
//}
#hotwords {
    width: 462px;
    padding-left: 80px;
    height: 20px;
    line-height: 20px;
    overflow: hidden;
}

.headerqrcode_lk:hover {
    color: #666
}

.headerqrcode:hover .headerqrcode_qc {
    opacity: 1;
    visibility: visible
}
.o2_retina .headerqrcode_ico {
    -moz-background-size: 25px 25px;
    background-size: 25px 25px;
    background-image: url("//static.360buyimg.com/mtd/pc/cms/index/images/qrcode_25x25@2x.png")
}